/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

/* Variables */

:root {
  --Color-Light-Cyan: #cee3e9;
  --Color-Neon-Green: #52ffa8;
  --Color-Grayish-Blue: hsl(217, 19%, 38%);
  --Color-Grayish-Blue: hsl(217, 19%, 24%);
  --Color-Dark-Blue: hsl(218, 23%, 16%);

  --Font-Family-Primary: "Manrope", sans-serif;
}

/* Global */

body {
  font-family: var(--Font-Family-Primary);
}
