/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

/* Variables */

:root {
  --Color-Light-Cyan: #cee3e9;
  --Color-Neon-Green: #52ffa8;
  --Color-Grayish-Blue: #4e5d73;
  --Color-Dark-Grayish-Blue: #323a49;
  --Color-Dark-Blue: #1f2632;
  --Font-Family-Primary: "Manrope", sans-serif;
}

/* Global */

body {
  font-family: var(--Font-Family-Primary);
  background-color: var(--Color-Dark-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Card */

.card {
  background-color: var(--Color-Dark-Grayish-Blue);
  border-radius: 10px;
  text-align: center;
  max-width: 540px;
  padding: 48px 48px 72px 48px;
  position: relative;
}

.card__id {
  color: var(--Color-Neon-Green);
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 2.5rem;
}

.card__quote {
  color: var(--Color-Light-Cyan);
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
}

.divider__desktop {
  display: block;
}

.divider__mobile {
  display: none;
}

button {
  background-color: var(--Color-Neon-Green);
  border: none;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  bottom: -32px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}

button:hover {
  box-shadow: 0px 0px 32px var(--Color-Neon-Green);
}

button svg {
  height: 24px;
  width: 24px;
}

@media (max-width: 600px) {
  .card {
    background-color: var(--Color-Dark-Grayish-Blue);
    border-radius: 10px;
    text-align: center;
    max-width: 340px;
    padding: 24px 24px 72px 24px;
    position: relative;
  }

  .divider svg {
    width: 100%;
  }

  .divider__mobile {
    display: block;
  }

  .divider__desktop {
    display: none;
  }
}
